## Import all the libraries

In [80]:
from pymongo import MongoClient
import re
from pymongo import ASCENDING, DESCENDING
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import requests

## Import the dataset Companies

In [41]:
dbName = "datamad0320"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/datamad0320

# First Analysis: Decide the City

## What is the city with more Gaming companies?

This could be interresting to see where to install the new office of our Gaming company.

## Get all the offices with category Gaming

In [42]:
a = list(db.companies.aggregate([{"$unwind":"$offices"},{"$project":{"offices":1,"name":1,"category_code":1}}]))

In [43]:
df = pd.DataFrame(json_normalize(a))
print(df.shape)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

(16705, 12)

,_id,name,category_code,offices.description,offices.address1,offices.address2,offices.zip_code,offices.city,offices.state_code,offices.country_code,offices.latitude,offices.longitude
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
1,52cdef7c4bab8bd675297d8a,Wetpaint,web,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
2,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
3,52cdef7c4bab8bd675297d8c,Zoho,software,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
4,52cdef7c4bab8bd675297d8f,Omnidrive,network_hosting,,Suite 200,654 High Street,94301,Palo Alto,CA,ISR,NaN,NaN

## Filter only Category Gaming that has the city information

In [44]:
df_gaming = df

df_gaming.drop(df_gaming[df_gaming.category_code != "games_video"].index, axis=0, inplace=True)

In [45]:
df_gaming.dropna(subset = ['offices.city'])
df_gaming.shape

(956, 12)

## Result: New York

In [46]:
df_gaming["offices.city"].value_counts()

New York         75
San Francisco    68
                 54
London           36
Los Angeles      31
                 ..
Boothwyn          1
Goteborg AB       1
Los Angleles      1
Fairfield         1
Cesena            1
Name: offices.city, Length: 363, dtype: int64

## Designers requirement: City with design companies

Search for cities with design companies, because this will be one of our requirements for the new office.

In [47]:
df = pd.DataFrame(json_normalize(a))
print(df.shape)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

(16705, 12)

,_id,name,category_code,offices.description,offices.address1,offices.address2,offices.zip_code,offices.city,offices.state_code,offices.country_code,offices.latitude,offices.longitude
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
1,52cdef7c4bab8bd675297d8a,Wetpaint,web,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
2,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
3,52cdef7c4bab8bd675297d8c,Zoho,software,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
4,52cdef7c4bab8bd675297d8f,Omnidrive,network_hosting,,Suite 200,654 High Street,94301,Palo Alto,CA,ISR,NaN,NaN

## Filter only Category Design/Web that has the city information

In [48]:
df_design = df

df_design.drop(df_design[(df_design['category_code'] != "web") & (df_design['category_code'] != "design")].index , inplace=True)

In [49]:
print(df_design.shape)
df_design.head()

(3085, 12)

,_id,name,category_code,offices.description,offices.address1,offices.address2,offices.zip_code,offices.city,offices.state_code,offices.country_code,offices.latitude,offices.longitude
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
1,52cdef7c4bab8bd675297d8a,Wetpaint,web,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
5,52cdef7c4bab8bd675297d90,Postini,web,None,"959 Skyway Road, Suite 200",None,94070,San Carlos,CA,USA,37.506885,-122.247573
6,52cdef7c4bab8bd675297d91,Geni,web,Headquarters,9229 W. Sunset Blvd.,,90069,West Hollywood,CA,USA,34.090368,-118.393064
7,52cdef7c4bab8bd675297d96,Gizmoz,web,None,None,None,None,Menlo Park,CA,USA,37.484130,-122.169472

In [50]:
df_design.dropna(subset = ['offices.city'])
df_design.shape

(3085, 12)

## Result: New York is the second city with more design companies

In [51]:
df_design["offices.city"].value_counts()

San Francisco        217
New York             193
                     184
London               113
Seattle               63
                    ...
North Miami Beach      1
Burbank                1
Chippendale            1
San Josetje            1
Singer Island          1
Name: offices.city, Length: 900, dtype: int64

Now that we already have New York as our city, due to their number of gaming and design companies, we need to continue to investigate in which coordinate we will launch the new office.

# First Requirement: Nearby Design companies

Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.

Designers represents 23% of the total employees of the company.

Filter all the DESIGN COMPANIES COORDINATES IN NEW YORK. Our new office needs to be nearby these range of coordinates.

In [52]:
ny_offices = list(db.companies.find({"offices.city":{"$eq":"New York"}},{"offices":1,"name":1,"category_code":1}))

In [53]:
data = pd.DataFrame(ny_offices) 
data.shape

(832, 4)

In [54]:
data = data.explode("offices")
data.head()

,_id,name,category_code,offices
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,"{'description': '', 'address1': '710 - 2nd Ave..."
0,52cdef7c4bab8bd675297d8a,Wetpaint,web,"{'description': '', 'address1': '270 Lafayette..."
1,52cdef7c4bab8bd675297d9d,Joost,games_video,"{'description': '', 'address1': '100 5th Ave F..."
2,52cdef7c4bab8bd675297d9f,Viacom,web,"{'description': 'HQ', 'address1': '1515 Broadw..."
3,52cdef7c4bab8bd675297da7,AddThis,advertising,"{'description': 'HQ - Virginia', 'address1': '..."

In [55]:
def officeToGeoPoint(row):
    office = row.offices
    if type(office) == dict:
        if 'latitude' in office and 'longitude' in office:
            if(type(office["latitude"])) == float and type(office["longitude"]) == float:
                return ({
                    "type":"Point",
                    "coordinates":[office["longitude"],office["latitude"]]
                },"success")
            else:
                return(None,"Invalid lat lat and long")
        else:
            return (None,"No lat and long keys in office dict")
    return (None,"No office")

In [56]:
cleaned_data = data.apply(officeToGeoPoint,axis=1, result_type="expand")
cleaned_data.columns = ["office","clean_state"]

cleaned_data.head()

                                              office clean_state
0  {'type': 'Point', 'coordinates': [-122.333253,...     success
0  {'type': 'Point', 'coordinates': [-73.9964312,...     success
1  {'type': 'Point', 'coordinates': [-74.0094471,...     success
2  {'type': 'Point', 'coordinates': [-73.986011, ...     success
3  {'type': 'Point', 'coordinates': [-77.245195, ...     success

In [57]:
data_processed = pd.concat([data,cleaned_data], axis=1)

In [58]:
data_processed = data_processed[["name","category_code","office","clean_state"]]

## Filter only companies with coordinates

In [59]:
data_processed = data_processed[data_processed.clean_state == 'success']
data_processed.head()

,name,category_code,office,clean_state
0,Wetpaint,web,"{'type': 'Point', 'coordinates': [-122.333253,...",success
0,Wetpaint,web,"{'type': 'Point', 'coordinates': [-73.9964312,...",success
1,Joost,games_video,"{'type': 'Point', 'coordinates': [-74.0094471,...",success
2,Viacom,web,"{'type': 'Point', 'coordinates': [-73.986011, ...",success
3,AddThis,advertising,"{'type': 'Point', 'coordinates': [-77.245195, ...",success

## Filter only Design/Web companies

In [60]:
data_final = data_processed[data_processed.category_code == 'web']
data_final.head()

,name,category_code,office,clean_state
0,Wetpaint,web,"{'type': 'Point', 'coordinates': [-122.333253,...",success
0,Wetpaint,web,"{'type': 'Point', 'coordinates': [-73.9964312,...",success
2,Viacom,web,"{'type': 'Point', 'coordinates': [-73.986011, ...",success
5,Meetup,web,"{'type': 'Point', 'coordinates': [-73.995722, ...",success
12,Meebo,web,"{'type': 'Point', 'coordinates': [-122.079017,...",success

In [61]:
data_final.shape

(179, 4)

We have a range of 179 coordinates in New York to use as a reference to search for the new office.

## Convert into Json

In [62]:
data_final.to_json("../Input/data_final.json",orient="records")

## Get the point of reference of data_final file:

In [70]:
data_mean = list(db.data_prepared.aggregate([{"$unwind":"$office"},{"$project":{"office":1,"name":1,"category_code":1}}]))

In [71]:
data_mean = pd.DataFrame(json_normalize(data_mean))
data_mean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

,_id,name,category_code,office.type,office.coordinates
0,5e9c487168b89a1cb3809e1e,Meetup,web,Point,"[-73.995722, 40.72604]"
1,5e9c487168b89a1cb3809e1f,Meebo,web,Point,"[-122.079017, 37.393679]"
2,5e9c487168b89a1cb3809e20,Buzzmetrics,web,Point,"[-73.991933, 40.731118]"
3,5e9c487168b89a1cb3809e21,Heavy,web,Point,"[-73.98962, 40.753385]"
4,5e9c487168b89a1cb3809e22,Viacom,web,Point,"[-73.986011, 40.757725]"
...,...,...,...,...,...
174,5e9c487168b89a1cb3809ecc,Strategist News,web,Point,"[-73.9918181, 40.7489381]"
175,5e9c487168b89a1cb3809ecd,Zemoga,web,Point,"[-73.989947, 40.744697]"
176,5e9c487168b89a1cb3809ece,Zemoga,web,Point,"[-73.4313029, 41.1932851]"
177,5e9c487168b89a1cb3809ecf,ChallengePost,web,Point,"[-74.00717, 40.7408042]"
178,5e9c487168b89a1cb3809ed0,FledgeWing,web,Point,"[-73.9874105, 40.7322535]"

In [101]:
data_mean.describe()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

,_id,name,category_code,office.type,office.coordinates
count,179,179,179,179,179
unique,179,154,1,1,151
top,5e9c487168b89a1cb3809ea1,Allopass,web,Point,"[-73.985506, 40.757929]"
freq,1,4,179,179,6

## Point of reference: 

Coordinates: [-73.985506, 40.757929]

Address: 159 West 45th Street, New York, NY 10036*

*We have searched for the address on the internet though the coordinates.

# Filtering the coordinates based on the requirements

## Geocoding

Gives the coordinates from an address.

In [97]:
def geocode(address):
    res = requests.get(f"https://geocode.xyz/{address}",params={"json":1})
    data = res.json()
    print(res)
    return {
    "type": "Point",
    "coordinates": [float(data["longt"]), float(data["latt"])]
  }

## Query Nearby

Filter the coordinates that are in the requested radius from a specific point of reference.

In [111]:
def getOfficeNear(address, maxDist=1000):
    point = geocode(address)
    return {
       "office": {
         "$near": {
           "$geometry": point,
           "$maxDistance": maxDist,
         }
       } 
    }

## Using our Point of reference

In [112]:
query = getOfficeNear("159 West 45th Street, New York, NY 10036")
query

<Response [200]>

{'office': {'$near': {'$geometry': {'type': 'Point',
    'coordinates': [-73.98439, 40.75748]},
   '$maxDistance': 1000}}}

## Result:

From our point of reference (-73.985506, 40.757929), we have 32 design companies in a 1KM radius. This fulfill one of the requirements.

In [113]:
cur = db.data_prepared.find(query, {"_id":0})
print(cur.count())
result = list(cur)
result

32

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

[{'name': 'Tacoda',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success'},
 {'name': 'Totspot',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success'},
 {'name': 'Kidmondo',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success'},
 {'name': 'SnapVillage',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success'},
 {'name': 'Blog Talk Radio',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success'},
 {'name': 'Gamers Media',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success'},
 {'name': 'Viacom',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986011, 40.757725]},
  'clean_state': 'success'},
 {'name': 'Giant Realm',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.9827553, 40.7566658]},
  'clean_state': 'success'},
 {'name': 'Livekick',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success'},
 {'name': 'Healism',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success'},
 {'name': 'Udorse',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success'},
 {'name': 'Wee Web',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success'},
 {'name': 'People Capital',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success'},
 {'name': 'Dragonfly',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success'},
 {'name': 'CPXi',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.9869523, 40.7550708]},
  'clean_state': 'success'},
 {'name': 'yoonew',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986557, 40.75362]},
  'clean_state': 'success'},
 {'name': 'Odeo',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.981237, 40.753918]},
  'clean_state': 'success'},
 {'name': 'Behind the Burner',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.981237, 40.753918]},
  'clean_state': 'success'},
 {'name': 'Cellfish',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.983754, 40.761855]},
  'clean_state': 'success'},
 {'name': 'Springo',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.978432, 40.758062]},
  'clean_state': 'success'},
 {'name': 'Veotag',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.98546, 40.752957]},
  'clean_state': 'success'},
 {'name': 'LineUpNewYork',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.986771, 40.753202]},
  'clean_state': 'success'},
 {'name': 'BountyJobs',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.97917, 40.754211]},
  'clean_state': 'success'},
 {'name': 'TheMarkets',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.9821315, 40.762674]},
  'clean_state': 'success'},
 {'name': 'Heavy',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.98962, 40.753385]},
  'clean_state': 'success'},
 {'name': 'Oddcast',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.988477, 40.752325]},
  'clean_state': 'success'},
 {'name': 'Facilitas',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.991123, 40.753931]},
  'clean_state': 'success'},
 {'name': 'Xanga',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.992152, 40.754698]},
  'clean_state': 'success'},
 {'name': 'Flugpo',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.990557, 40.752898]},
  'clean_state': 'success'},
 {'name': 'Kiwibox',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.9935, 40.755243]},
  'clean_state': 'success'},
 {'name': 'Social Median',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.982575, 40.74963]},
  'clean_state': 'success'},
 {'name': 'acerno',
  'category_code': 'web',
  'office': {'type': 'Point', 'coordinates': [-73.975857, 40.751363]},
  'clean_state': 'success'}]

## Get the final coordinates

In [114]:
def easyLatLng(row):
    of = row.office
    return {
        "latitude":of["coordinates"][1],
        "longitude":of["coordinates"][0]
    }

# https://api.mongodb.com/python/current/api/bson/objectid.html
df = pd.DataFrame(result)

df = pd.concat([df, df.apply(easyLatLng, axis=1, result_type="expand")], axis=1)
df

,name,category_code,office,clean_state,latitude,longitude
0,Tacoda,web,"{'type': 'Point', 'coordinates': [-73.985506, ...",success,40.757929,-73.985506
1,Totspot,web,"{'type': 'Point', 'coordinates': [-73.985506, ...",success,40.757929,-73.985506
2,Kidmondo,web,"{'type': 'Point', 'coordinates': [-73.985506, ...",success,40.757929,-73.985506
3,SnapVillage,web,"{'type': 'Point', 'coordinates': [-73.985506, ...",success,40.757929,-73.985506
4,Blog Talk Radio,web,"{'type': 'Point', 'coordinates': [-73.985506, ...",success,40.757929,-73.985506
5,Gamers Media,web,"{'type': 'Point', 'coordinates': [-73.985506, ...",success,40.757929,-73.985506
6,Viacom,web,"{'type': 'Point', 'coordinates': [-73.986011, ...",success,40.757725,-73.986011
7,Giant Realm,web,"{'type': 'Point', 'coordinates': [-73.9827553,...",success,40.756666,-73.982755
8,Livekick,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,40.756054,-73.986951
9,Healism,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,40.756054,-73.986951
10,Udorse,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,40.756054,-73.986951
11,Wee Web,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,40.756054,-73.986951
12,People Capital,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,40.756054,-73.986951
13,Dragonfly,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,40.756054,-73.986951
14,CPXi,web,"{'type': 'Point', 'coordinates': [-73.9869523,...",success,40.755071,-73.986952
15,yoonew,web,"{'type': 'Point', 'coordinates': [-73.986557, ...",success,40.753620,-73.986557
16,Odeo,web,"{'type': 'Point', 'coordinates': [-73.981237, ...",success,40.753918,-73.981237
17,Behind the Burner,web,"{'type': 'Point', 'coordinates': [-73.981237, ...",success,40.753918,-73.981237
18,Cellfish,web,"{'type': 'Point', 'coordinates': [-73.983754, ...",success,40.761855,-73.983754
19,Springo,web,"{'type': 'Point', 'coordinates': [-73.978432, ...",success,40.758062,-73.978432
20,Veotag,web,"{'type': 'Point', 'coordinates': [-73.98546, 4...",success,40.752957,-73.985460
21,LineUpNewYork,web,"{'type': 'Point', 'coordinates': [-73.986771, ...",success,40.753202,-73.986771
22,BountyJobs,web,"{'type': 'Point', 'coordinates': [-73.97917, 4...",success,40.754211,-73.979170
23,TheMarkets,web,"{'type': 'Point', 'coordinates': [-73.9821315,...",success,40.762674,-73.982131
24,Heavy,web,"{'type': 'Point', 'coordinates': [-73.98962, 4...",success,40.753385,-73.989620
25,Oddcast,web,"{'type': 'Point', 'coordinates': [-73.988477, ...",success,40.752325,-73.988477
26,Facilitas,web,"{'type': 'Point', 'coordinates': [-73.991123, ...",success,40.753931,-73.991123
27,Xanga,web,"{'type': 'Point', 'coordinates': [-73.992152, ...",success,40.754698,-73.992152
28,Flugpo,web,"{'type': 'Point', 'coordinates': [-73.990557, ...",success,40.752898,-73.990557
29,Kiwibox,web,"{'type': 'Point', 'coordinates': [-73.9935, 40...",success,40.755243,-73.993500
30,Social Median,web,"{'type': 'Point', 'coordinates': [-73.982575, ...",success,40.749630,-73.982575
31,acerno,web,"{'type': 'Point', 'coordinates': [-73.975857, ...",success,40.751363,-73.975857